@using  Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager

@model Report

<div class="focused">
    <h1>@Model.HazardLocation</h1>
    <img class="card-img-top" src="@Model.ImageUrl" alt="Image for @Model.HazardLocation" />
    <div class="card-body">

        <p class="card-text">@Model.HazardDescription</p>
        <p class="small">@Model.HazardDate.ToShortDateString()</p><br />
        <div class="form-group">
            <label>Location of hazard</label>
            <div id="map"></div>
            <input class="form-control" type="hidden" id="latitude" value=@Model.LatitudeMarker>
            <input class="form-control" type="hidden" id="longitude" value=@Model.LongitudeMarker>
            <script>displayMap()</script>
           
        </div>
        <p class="small">Number of Upvotes: @Model.Upvotes.Count()</p>

        <div class="actions-row">
            <form asp-controller="Report" asp-action="Index" method="get">
                <button class="btn btn-light btn-sm">Back</button>
            </form>
            <form asp-controller="Investigation" asp-action="Details" asp-route-id="@Model.ReportId" method="get">
                <button class="red-button">Read Investigation Report</button>
            </form>

        </div>

    </div>
</div>
