


    <div class="focused">
        <h1>@Model.HazardLocation</h1>
        <img class="card-img-top" src="@Model.ImageUrl" alt="Image for @Model.HazardLocation" />
        <div class="card-body">
            
            <p class="card-text">@Model.HazardDescription</p>
            <p class="small">@Model.HazardDate.ToShortDateString()</p>
            <p class="small">Number of Upvotes: @Model.Upvotes</p>

            <div class="actions-row">
                <form asp-controller="Report" asp-action="Index" method="get">
                    <button class="btn btn-light"><i class="far fa-hand-point-left grad-text"></i> Back</button>
                </form>
                <form asp-controller="Investigation" asp-action="Details" method="get">
                    <button class="red-button">Read Investigation Report</button>
                </form>
               
            </div>

        </div>
    </div>
