@model HallFameModel

<h1>Hall of Fame</h1>
<small class="text-muted">Total number of Reporters: <strong>@Model.TotalReporters</strong></small><br /><br />


@foreach (var account in Model.Reporters.OrderByDescending(a => a.Reports.Count()))
{
    <div class="user-row">

        <div>
            <span><strong>@account.UserName</strong></span><br />
            <small>@account.Email</small><br />
            <!---through eager loading using the ApplicationUserRepository, we are obtaing all reports belonging to each user-->
            <small>Total reports submitted by <em>@account.UserName: </em><strong>@account.Reports.Count()</strong></small>


        </div>

    </div>

}

