@model mvc.ViewModels.ReportRegisterViewModel

@using  Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager



<div class="row">
    <aside class="side-options">
        <div class="container">
            <small class="text-muted">@Model.TotalReports reports found</small>
            <hr>
            <form asp-controller="Report" asp-action="UserIndex" method="get">
                <button class="red-button">My Reports</button>
            </form><br />
            <form asp-controller="Report" asp-action="Search" method="get" role="form" enctype="multipart/form-data">
                <div class="form-group">
                    <label>Search</label>
                    <input name="search" class="form-control" type="search" asp-controller="Report" asp-action="Search" placeholder="Search for a report" />
                    <small asp-validation-for="Search" class="text-danger"></small>
                </div>
            </form>

            <div class="form-group">
                <label for="exampleFormControlSelect1">Sort Reports</label>
                <select class="form-control" id="exampleFormControlSelect1">
                    <option>Recent</option>
                    <option>Closed</option>
                    <option>On-going investigation</option>
                    <option>Not yet investigated</option>
                </select>
            </div>

            <form asp-controller="Report" asp-action="Create" method="get">
                <button class="red-button">Create Report</button>
            </form>
        </div>
    </aside>


    <div class="col">
        @foreach (var report in Model.Reports)
        {
            <div class="card report-card">
                <div>
                    <img class="card-img" src="@report.ImageUrl" alt="Image for @report.HazardLocation" />
                </div>

                <div class="card-body">
                    <h3 class="card-title">@report.HazardLocation</h3>
                    <small class="text-muted">@report.DateOfReport.ToShortDateString()</small>

                    @if (report.Upvotes == null){
                        <small class="upvotes"> Upvotes: 0</small>
                    }
                    else{
                        <small class="upvotes"> Upvotes: @report.Upvotes.Count()</small>
                    }

                <div class="actions-row">

                    @if (User.Identity.IsAuthenticated) {
                        var userId = UserManager.GetUserId(User);
                        bool found = false;
                        foreach (var upvote in report.Upvotes)
                        {
                            if (upvote.UserId == userId)
                            {
                                found = true;
                                <a asp-controller="Report" asp-action="Downvote" asp-route-id="@report.ReportId"><button class="btn btn-light btn-block btn-sm"><i class="far fa-hand-point-down grad-text"></i> Downvote</button></a>
                            }
                        }
                        if (found == false)
                        {
                        <a asp-controller="Report" asp-action="Upvote" asp-route-id="@report.ReportId"><button class="btn btn-light btn-block btn-sm"><i class="far fa-hand-point-up grad-text"></i> Upvote</button></a>
                        }

                    }

                    <a asp-controller="Report" asp-action="Details" asp-route-id="@report.ReportId" class="btn btn-link btn-sm">Details</a>

                    @if (User.Identity.IsAuthenticated)
                    {
                        if (UserManager.GetUserAsync(User).Result == report.User)
                        {
                            <a asp-controller="Report" asp-action="Edit" asp-route-id="@report.ReportId" class="btn btn-link btn-sm">Edit</a>
                        }

                    }

                    <a asp-controller="Investigation" asp-action="Details" asp-route-id="@report.ReportId" class="btn btn-outline-primary btn-sm">Investigation</a>


                </div>

                </div>

            </div>
        }
    </div>
</div>



