@model mvc.ViewModels.ReportRegisterViewModel

<h2> @Model.TotalReports reports found on NEMESYS</h2>
<h4> Why did the coffee file a police report? – Because it was mugged. </h4>

<div class="row">
    @foreach (var report in Model.Reports)
    {
        <div class="card" style="width: 23rem;padding:20px; margin:20px;">
            <img class="card-img-top" src="@report.ImageUrl" alt="Image for @report.HazardLocation" />
            <div class="card-body">
                <h3 class="card-title">@report.HazardLocation</h3>
                <p class="small">@report.DateOfReport.ToShortDateString()</p>

                <div class="card text-white bg-dark mb-3 " style="width: 17rem;">
                    <div class="card-body">
                        <p class="card-text">Upvotes: @report.Upvotes</p>
                    </div>
                </div>
                <p> </p>
                    <button type="button" class="btn btn-success">Upvote</button>
                    <a asp-controller="Report" asp-action="Details" asp-route-id="@report.ReportId" class="btn btn-primary">Details</a>
                    <a asp-controller="Investigation" asp-action="Create" asp-route-id="@report.ReportId" class="btn btn-primary">Investigation</a>
                
            </div>

        </div>
    }
</div>

<a asp-controller="Report" asp-action="Create" class="btn btn-primary">Create Report</a>

